mat-toolbar {
  background: blueviolet;
  color: white;
}

mat-sidenav-container{
background: rgb(245, 235, 255);
height: calc(100vh - 65px);
color:white;
}

mat-sidenav {
  background: blueviolet;
  color: white;
  margin: 10px;
  width: 230px;
  border-radius: 16px;
  padding: 10px;
}
.spacer{
  flex:1;

}
.content {
  background: rgb(248, 241, 252);
  margin: 10px;
  margin-left: 16px;
  border-radius: 16px;
  min-height:calc(100vh - 96px);
  
    display: flex;
    align-items:center;
    justify-content:center;

}
.PImg{
    border-radius: 50px;
}

.menu-button {
  color: white;
  background: blueviolet;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
mat-icon {
  margin-right: 8px;
}
