<div>
  <button mat-raised-button (click)="logOrReg('Login')" style="color:white; Background : blueviolet; margin:10px">Login</button>
  <button mat-raised-button (click)="logOrReg('Register')" style="color: white; Background: blueviolet; margin:10px">Register</button>
</div>
<mat-card>
  <mat-card-content>
      <!-----------------------------Login------------------------------->
<div *ngIf="login; else elseBlock" style="border-top-left-radius: 0px; border-top-right-radius: 0px; ">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="a" type="email" placeholder="Email Address" formControlName="emailRef" required />
      <mat-error >Please enter valid mail id</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter Password" formControlName="passwordRef" required />
      <mat-error>Please enter valid password</mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div>


<!-----------------------------Register----------------------------->
<ng-template #elseBlock>
  <div style="border-top-left-radius: 0px; border-top-right-radius: 0px">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email Address" formControlName="mailId" />
      </mat-form-field>
      <div>
        <!--first name-->
        <mat-form-field style="width:37%; margin-right:10px">
          <mat-label>First Name</mat-label>
          <input matInput type="text" placeholder="First Name" formControlName="firstName" />
          <mat-error>Please enter valid name</mat-error>
        </mat-form-field>
        <!--lastname-->
        <mat-form-field style="width:37%">
          <mat-label>last Name</mat-label>
          <input matInput type="text" placeholder="last Name" formControlName="lastName" />
          <mat-error>Please enter valid name</mat-error>
        </mat-form-field>
      </div>
      <!--username-->
      <mat-form-field>
        <mat-label>username</mat-label>
        <input matInput type="email" placeholder="User Name" formControlName="username" />
        <mat-error>Please enter valid name</mat-error>
      </mat-form-field>

      <!--gender-->
      <mat-form-field>
        <mat-label>Select Gender</mat-label>
        <mat-select (selectionChange)="selectorOnChange($event)" required="required">
          <mat-option value="MALE">Male</mat-option>
          <mat-option value="FEMALE">Female</mat-option>
        </mat-select>
        <mat-error>Please select your gender</mat-error>
      </mat-form-field>
      <!--pastproblems-->
      <mat-form-field>
        <mat-label>Past Problems If Any</mat-label>
        <input matInput type="text" placeholder="Like, sergeries or alergies" formControlName="pastproblems" />
      </mat-form-field>
      <!--contactnumber-->
      <mat-form-field>
        <mat-label>Conatct Number</mat-label>
        <input matInput type="number" placeholder="Contact Number" formControlName="contactNumber" />
        <mat-error>Number should be 10 digits only</mat-error>
      </mat-form-field>
      <!--userAddress-->
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput type="text" placeholder="Address" formControlName="userAddress" />
        <mat-error>Address is required field</mat-error>
      </mat-form-field>
      <!--password-->
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter Password" formControlName="password" required />
        <mat-error>Password must be 8 to 12 characters long</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>
  </div>
</ng-template>
  </mat-card-content>
</mat-card>

