<div *ngIf="isDataAvailable; else elseblock" class="CardGrid">
<div *ngFor="let doctor of DoctorList">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="text-align:left">
        Dr. {{doctor.dname}}
        <mat-card-subtitle style="color:black">{{doctor.degree}}</mat-card-subtitle>
      </mat-card-title>
    </mat-card-header>
    <img class="img" mat-card-image src={{doctor.dimage}}>
    <mat-card-actions>
      <button (click)="bookAppointment((doctor))" class="btn" mat-raised-button>
        Book Appointment
      </button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
<ng-template #elseblock>
  <h2>doctor's not available</h2>
</ng-template>