<div class="CardGrid">
<div *ngFor="let doctor of DoctorList">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="text-align:left">
        Dr. {{doctor.dname}}
        <mat-card-subtitle style="color:black">{{doctor.degree}}</mat-card-subtitle>
      </mat-card-title>
      <mat-card-subtitle>gaurav</mat-card-subtitle>
    </mat-card-header>
    <img class="img" mat-card-image src={{doctor.dimage}}>
    <mat-card-actions>
      <button class="btn" mat-raised-button>
        Book Appointment
      </button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
