<form [formGroup]="genApp"(ngSubmit)="submitAppointment()">
  <mat-form-field>
    <mat-label>UserId</mat-label>
    <input matInput value="{{userId}}" readonly />
  </mat-form-field>
  <mat-form-field>
    <mat-label>DoctorId</mat-label>
    <input matInput value="{{dId}}" readonly />
  </mat-form-field>
  <mat-form-field>
    <mat-label>HospitalId</mat-label>
    <input type="number" matInput value="{{hId}}" readonly />
  </mat-form-field>
  <div class="dt">
    <ejs-datetimepicker placeholder="Choose a date and time" formControlName="dateRef"></ejs-datetimepicker>
  </div>
  <div>
    <button color="primary" mat-raised-button type="submit" [disabled]="!genApp.valid">Submit</button>
  </div>
</form>

  <!--<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>-->
